<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    {% block css %}{% endblock css %}

    <title>Enku - {{ title }}</title>
</head>

<body>

    <nav>
        <h1><a href="{% url 'home' %}">Enku</a></h1>
        {% if user.is_authenticated %}

        <ul>
            <li><a href="{% url 'property_listing' %}">Browse Properties</a></li>
            <li><a href="{% url 'upload_property' %}">List Your Property</a></li>
            {% if user.groups.values_list.0.1 == "moderator" %}
            <li><a href="{% url 'property_approvals' %}">Approve Property Listings</a></li>
            {% endif %}
            <li id="profile"><a href="{% url 'my_listing' %}">{{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% endif %}
    </nav>

    {% block content %}{% endblock content %}
</body>

</html>